.stage-cube-cont {
    // position: relative;
    // width: 100%;
    // height: 100vh; /* This ensures the container takes the full viewport height */
    // display: flex;
    // justify-content: center; /* Center horizontally */
    // align-items: center; /* Center vertically */
    // overflow: hidden; /* Hide overflowing content */
    width: 46%;
    height: 100%;
    top: 0;
    padding-top: 15.3%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.resume {
    color: #ffd700;
    background: #181818;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px; 
    border: 2px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 5s 3.4s backwards;
    white-space: nowrap;
    border-radius: 10px;

    &:hover {

        background: #ffd700;
        color: #000000;
    }
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(247, 249, 247, 0.7);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 2px lightgray;
    }

    .face1 {
        transform: translateZ(100px) !important; 
    }
    .face2 {
        transform: rotateY(90deg) translateZ(100px) !important;
    }
    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px) !important;
    }
    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px) !important;
    }
    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg)  translateZ(100px) !important;
    }
    .face6 {
        transform: rotateX(-90deg) translateZ(100px) !important;
    }
}

@keyframes spincube {
    from, to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    33%, 66% {
        transform: rotateY(-90deg) rotateX(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }

    // from,
    // to {
    //     transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    // }
    // 12.5% {
    //     transform: rotateY(-90deg) rotateZ(90deg);
    // }
    // 25% {
    //     transform: rotateY(-90deg) rotateX(90deg);
    // }
    // 37.5% {
    //     transform: rotateY(-180deg) rotateZ(90deg);
    // }
    // 50% {
    //     transform: rotateY(-270deg) rotateX(90deg);
    // }
    // 62.5% {
    //     transform: rotateY(-360deg) rotateZ(90deg);
    // }
    // 75% {
    //     transform: rotateY(-450deg) rotateX(90deg);
    // }
    // 87.5% {
    //     transform: rotateY(-540deg) rotateZ(90deg);
    // }
    
    // from,
    // to {
    //     transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    // }
    // 16% {
    //     transform: rotateY(-90deg) rotateZ(90deg);
    // }
    // 33% {
    //     transform: rotateY(-90deg) rotateX(90deg);
    // }
    // 50% {
    //     transform: rotateY(-180deg) rotateZ(90deg);
    // }
    // 66% {
    //     transform: rotateY(-270deg) rotateX(90deg);
    // }
    // 83% {
    //     transform: rotateX(90deg);
    // }
}

.about-page i 
{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate 
{
    0%
    {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%
    {
        opacity: 0.7;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
}